*{
    overflow: hidden;
}

header .back img {
    width: 100%;
    height: 200px;
}

header {
    background-color: #eee;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10vh;
    margin: 20px;
    max-width: 130px;
}

body{
    display:flex;
    justify-self: stretch;
    background-color: #111;
    color: #eee;
}

.centro{
    display:flex;
    justify-content: flex-start;
    align-items:center;
    flex-direction: row;
    width:100%;
}

form{
    display:flex;
    justify-content: center;
    flex-direction:column;
    text-align: center;
    backdrop-filter: blur(10px);
}

.ginko {
    font-family: tan;
    font-size: 15vh;
    transform: rotate(-90deg);
    padding: 10vh;
    position: absolute;
}

.lado1 {
    height: 100%;
    width: 55vh;
    display: flex;
    align-items: center;
    align-self: flex-end;
    margin-left: 15vh;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.centro1 {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}